<launch>
    
    <!--Start Hector SLAM with teleop node-->
    <include file="$(find gary_computer)/launch/starthector_slam_gary.launch" />
    
    <!--Start nav2d with collision avoidance-->
    <include file="$(find gary_computer)/launch/collision_avoid_gary.launch" />
    
    <!--Start seeder sensing notifier-->
    <!--node pkg="gary_computer" type="meow.py" name="sensor_meow" output="screen" /-->

</launch>
